header {
  top: 0;
  left: 0;
  right: 0;
  height: 94vh;
  background-color: #ff525d;
  color: #fff;
  background-image: url("/images/bg-pattern-intro.svg"), radial-gradient(circle, #ff8f70 2%, #ff3d54 81%);
  background-position: -33rem 127rem;
  border-bottom-left-radius: 95px;
  /*  .responsive-nav-container {
        margin-top: 3rem;
    } */ }
  header .header-intro {
    max-width: 331px;
    font-size: 2.4rem;
    color: #fff;
    margin-left: auto;
    margin-right: auto; }
  header h1 {
    font-size: var(--fs-900);
    color: #fff;
    line-height: 42px; }
  header .content-container {
    text-align: center;
    max-width: 25rem;
    margin: 0 auto;
    margin-top: 9.5rem; }
    header .content-container .get-started-buttons {
      margin-top: 3rem; }
      header .content-container .get-started-buttons .header-buttons {
        font-size: 1.1rem;
        padding: 14px;
        padding-left: 23px;
        padding-right: 23px;
        border: 1px solid #fff;
        color: #fff;
        margin-right: 15px;
        border-radius: 27px;
        text-decoration: none;
        font-weight: border; }
        header .content-container .get-started-buttons .header-buttons.header-buttons:hover {
          background-color: #fff;
          color: #ff525d; }
    header .content-container .grow-online-brand {
      max-width: 22rem;
      font-weight: 300;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Overpass', sans-serif;
      font-size: 1.2rem;
      color: #fff;
      margin-bottom: 0; }
  header .nav-container {
    display: flex;
    color: #fff;
    justify-content: space-between;
    width: 85%;
    max-width: 84em;
    margin: 0 auto;
    padding-top: 2rem; }
    header .nav-container nav {
      display: flex; }
    header .nav-container ul {
      display: flex;
      list-style: none; }
      header .nav-container ul li a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        white-space: nowrap; }
    header .nav-container .nav-item {
      position: relative; }
      header .nav-container .nav-item .dropdown-menu {
        border: 1px solid;
        padding: 3px;
        position: absolute;
        color: #2c2d3f;
        background-color: #efeff1;
        display: none;
        transform-origin: top;
        animation: dropDown 300ms ease-in-out forwards;
        -webkit-animation: dropDown 300ms ease-in-out forwards; }
        header .nav-container .nav-item .dropdown-menu .dropdown-menu-list {
          display: flex;
          flex-direction: column;
          padding-left: 13px;
          padding-right: 13px;
          font-size: .8rem; }
          header .nav-container .nav-item .dropdown-menu .dropdown-menu-list li {
            padding-bottom: 2px; }
    header .nav-container .nav-item-product:hover .dropdown-menu {
      display: flex; }
    header .nav-container .dropdown-menu.company {
      margin-left: 1.4rem; }
    header .nav-container .nav-item > a {
      padding: 0 20px; }
      header .nav-container .nav-item > a.signup-btn {
        padding-right: 0;
        padding-left: 2px; }
    header .nav-container .right-nav {
      display: flex; }
    header .nav-container .left-nav {
      display: flex;
      align-items: center; }
      header .nav-container .left-nav .logo {
        width: 4.7rem; }
      header .nav-container .left-nav .logo-li {
        padding: 0 27px; }
  @media (max-width: 703px) {
    header .nav-container {
      display: none; } }
  header .mobile-nav {
    display: flex;
    justify-content: space-between;
    width: 85%;
    max-width: 84em;
    margin: 0 auto;
    align-items: center;
    padding-top: 4rem;
    position: relative;
    /*
a.hamburger-link::after {
    content: url("/images/icon-hamburger.svg");
    
} */ }
    header .mobile-nav .logo {
      width: 5.7rem; }
    header .mobile-nav .ham {
      background-image: url("/images/icon-hamburger.svg");
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      top: 4rem;
      margin-left: -29px;
      position: absolute;
      max-width: 3rem; }
  header .mobile-menu-body {
    padding-left: 1.5em;
    padding-right: 1.5em; }
    header .mobile-menu-body .mobile-nav-main {
      transform: scale(1, 0);
      justify-content: center;
      background-color: #fff;
      height: 0;
      border: 1px solid;
      margin-top: 2rem;
      max-width: 26rem;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
      overflow-y: scroll;
      transform-origin: top;
      transition: transform 400ms ease-in-out; }
      header .mobile-menu-body .mobile-nav-main .mobile-nav-list {
        display: flex;
        list-style: none;
        flex-direction: column;
        padding-left: 0;
        margin-top: 2rem; }
        header .mobile-menu-body .mobile-nav-main .mobile-nav-list .login-and-signup-container {
          margin-top: 1.1rem;
          border-top: 1px solid #efeff1;
          width: 71vw;
          max-width: 22rem;
          margin-left: auto;
          margin-right: auto;
          padding-bottom: 34px; }
          header .mobile-menu-body .mobile-nav-main .mobile-nav-list .login-and-signup-container .login-and-signup {
            padding-top: 25px;
            display: flex;
            flex-direction: column;
            gap: 4px;
            max-width: 154px;
            margin: 0 auto; }
            header .mobile-menu-body .mobile-nav-main .mobile-nav-list .login-and-signup-container .login-and-signup .login-signup-buttons {
              font-size: 1.1rem;
              color: #4b5862;
              margin-bottom: 1rem;
              font-weight: 900;
              white-space: nowrap; }
              header .mobile-menu-body .mobile-nav-main .mobile-nav-list .login-and-signup-container .login-and-signup .login-signup-buttons.login-signup-buttons:hover {
                background-color: #ff525d;
                color: #fff;
                padding: 13px;
                padding-left: 49px;
                padding-right: 49px;
                border-radius: 60px; }
            header .mobile-menu-body .mobile-nav-main .mobile-nav-list .login-and-signup-container .login-and-signup a {
              text-decoration: none; }
        header .mobile-menu-body .mobile-nav-main .mobile-nav-list .nav-item {
          padding: 10px;
          margin-bottom: 1rem; }
          header .mobile-menu-body .mobile-nav-main .mobile-nav-list .nav-item .product {
            margin-top: 21px;
            width: 73vw;
            max-width: 23rem;
            display: none;
            border-radius: 6px; }
          header .mobile-menu-body .mobile-nav-main .mobile-nav-list .nav-item a {
            text-decoration: none;
            color: #2c2d3f;
            font-size: 1.23rem; }
          header .mobile-menu-body .mobile-nav-main .mobile-nav-list .nav-item ul.product-section-list {
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 2rem;
            padding-bottom: 1rem;
            list-style: none; }
            header .mobile-menu-body .mobile-nav-main .mobile-nav-list .nav-item ul.product-section-list .mobile-sub-dropdown {
              margin-bottom: 20px; }
              header .mobile-menu-body .mobile-nav-main .mobile-nav-list .nav-item ul.product-section-list .mobile-sub-dropdown .mobile-sub-dropdown-links {
                font-size: 1rem; }
  header .mobile-nav-main.active {
    transform: scale(1, 1);
    text-align: center;
    height: 85vh; }
  header .ham.close {
    background-image: url("/images/icon-close.svg");
    width: 100%;
    height: 100%; }
  header img.arrow-dark {
    display: inline; }
  header img.arrow-dark.arrowUp {
    transform: rotate(181deg); }
  header img.arrow-dark2.arrowUp {
    transform: rotate(181deg); }
  header img.arrow-dark3.arrowUp {
    transform: rotate(181deg); }
  header .product.dropdownActive {
    display: block !important;
    background-color: #efeff1;
    color: #3f4164;
    margin-left: auto;
    margin-right: auto;
    animation: dropDown 300ms ease-in-out forwards;
    -webkit-animation: dropDown 300ms ease-in-out forwards;
    transform-origin: top; }
  @media (min-width: 703px) {
    header .mobile-nav {
      display: none; }
    header .mobile-menu-body {
      display: none; }
    header .content-container {
      max-width: none; }
    header .grow-online-brand {
      max-width: none !important; } }
  @media (min-width: 1440px) {
    header .header-intro {
      max-width: none; } }

@keyframes dropDown {
  0% {
    transform: scaleY(0); }
  80% {
    transform: scaleY(1.1); }
  100% {
    transform: scaleY(1); } }

:root {
  --fs-900: 2.0rem;
  --fs-400: .9625rem; }
  @media (min-width: 1440px) {
    :root {
      --fs-400: 1rem; } }

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Overpass', sans-serif;
  font-size: var(--fs-400);
  overflow: auto; }
  body .main-body, html .main-body {
    min-height: 100%;
    height: 100%;
    text-align: center; }
  body p, html p {
    font-family: 'Overpass', sans-serif; }
  body h1, html h1 {
    font-size: var(--fs-900);
    font-weight: 400;
    font-family: 'Overpass', sans-serif;
    color: #1f3f5b; }
  body h2, html h2 {
    font-family: 'Overpass', sans-serif;
    color: #1f3f5b; }

.designed-for-future {
  background-size: cover;
  display: flex;
  justify-content: center; }
  .designed-for-future .designed-header {
    padding-top: 53px;
    padding-bottom: 36px; }
  .designed-for-future .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .designed-for-future .wrapper .robust {
      padding-bottom: 17rem; }
    .designed-for-future .wrapper .introducing-header {
      max-width: 235px;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.8rem; }
    .designed-for-future .wrapper .introducing-text {
      max-width: 271px;
      margin-left: auto;
      margin-right: auto;
      font-weight: 300;
      line-height: 1.77rem; }
    .designed-for-future .wrapper .illustration-editor-image {
      background-image: url("/images/illustration-editor-mobile.svg");
      background-size: cover;
      height: 100%;
      border: 1px solid;
      background-position: center; }

@media (min-width: 704px) {
  .designed-for-future-mobile-img {
    display: none; } }

@media (min-width: 704px) and (max-width: 999px) {
  .designed-for-future {
    background-image: url("/images/illustration-editor-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 35rem 2rem; } }

@media (min-width: 1000px) and (max-width: 1056px) {
  .designed-for-future {
    background-image: url("/images/illustration-editor-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 35rem 2rem; } }

@media (min-width: 1056px) {
  .designed-for-future {
    background-image: url("/images/illustration-editor-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 43rem 2rem; } }

@media (min-width: 1000px) {
  .content-wrapper {
    max-width: 442px !important;
    padding-left: 5rem; }
  .introducing-text {
    max-width: 440px !important; }
  .introducing-header {
    max-width: none !important;
    text-align: left;
    font-size: 1.6rem !important; } }

@media only screen and (min-device-width: 704px) and (max-device-width: 1000px) {
  .content-wrapper {
    max-width: 374px !important; } }

.state-of-the-art-container {
  border: 1px solid;
  background-color: #333366;
  background-image: url("/images/bg-pattern-circles.svg");
  background-position: -8rem -14rem;
  background-size: 39rem;
  background-repeat: no-repeat;
  border-top-right-radius: 65px;
  border-bottom-left-radius: 65px;
  /*  .image-wrap {
        //max-width: 500px;
       //position: relative;
        
        .illustration-phones {
            //position: absolute;
            transform: translateY(-180px);
            max-width: 100%;
        }
    } */ }
  .state-of-the-art-container .state-of-the-art-wrapper {
    display: flex;
    flex-direction: column;
    transform: translateY(-180px); }
  .state-of-the-art-container .illustration-phones {
    max-width: 100%; }
  .state-of-the-art-container .state-of-the-art {
    display: flex; }
    .state-of-the-art-container .state-of-the-art .state-text-outer {
      display: flex;
      justify-content: flex-end;
      max-width: 67rem;
      margin-left: auto;
      margin-right: auto; }
    .state-of-the-art-container .state-of-the-art .state-text-inner {
      display: flex;
      flex-direction: column;
      max-width: 500px; }
      .state-of-the-art-container .state-of-the-art .state-text-inner .paragraph-text {
        max-width: 321px;
        letter-spacing: 1.1px;
        margin-left: auto;
        margin-right: auto;
        color: white; }
    .state-of-the-art-container .state-of-the-art .state-of-the-art-header {
      color: #fff;
      margin-top: 18px;
      max-width: 28rem;
      margin-left: auto;
      margin-right: auto; }

@media (min-width: 705px) {
  .state-of-the-art-header {
    white-space: nowrap; }
  .state-of-the-art-container .state-of-the-art .state-text-inner .paragraph-text {
    max-width: 100%; } }

@media (min-width: 1000px) {
  .state-of-the-art-container .state-of-the-art-wrapper {
    transform: none; }
    .state-of-the-art-container .state-of-the-art-wrapper .state-text-outer {
      margin-right: 0;
      padding-right: 52px;
      padding-top: 5rem;
      padding-bottom: 6rem; }
      .state-of-the-art-container .state-of-the-art-wrapper .state-text-outer .state-text-inner .paragraph-text {
        max-width: 376px;
        text-align: left; }
  .image-wrap {
    position: relative; }
    .image-wrap .illustration-phones {
      position: absolute;
      display: flex;
      transform: translateY(-58px); } }

@media (min-width: 1156px) {
  .state-text-inner .paragraph-text {
    max-width: 100% !important; }
  .state-of-the-art-container .state-of-the-art .state-text-inner {
    max-width: 554px; }
  .state-of-the-art-container .state-of-the-art .state-of-the-art-header {
    margin-left: 0; } }

@media (min-width: 1308px) {
  .image-wrap {
    padding-left: 6rem; } }

@media (min-width: 1440px) {
  .state-of-the-art-container .state-of-the-art-wrapper .state-text-outer {
    padding-right: 123px; } }

/*
@media (min-width: 1158px) {

    .state-of-the-art-container .state-of-the-art-wrapper {
       transform: none;

    .state-of-the-art-text-outer {

        max-width: 104rem;
        margin-right: 0;
        padding-right: 52px;
        padding-top: 5rem;
        padding-bottom: 6rem;


    .state-text-inner {
        max-width: 540px;
        text-align: left;

        .state-of-the-art-container .state-of-the-art .state-of-the-art-header {

            margin-left: 0!important;

        }

        .state-of-the-art-container .state-of-the-art-wrapper .state-text-outer .state-text-inner .paragraph-text {
            max-width: 690px;
        }

    }

}

}

.image-wrap {
    position:relative;
    .illustration-phones {
        position: absolute;
        display:flex;
        transform: translateY(-58px);
    }
}

}  */
.free-open-simple-container {
  padding-bottom: 6.5rem;
  padding-top: 6rem; }
  .free-open-simple-container .paragraph-text {
    max-width: 326px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1.1px; }
  .free-open-simple-container .free-open-simple-img {
    max-width: 100%;
    padding-top: 33px; }
  .free-open-simple-container .img-free {
    background-image: url("/images/illustration-laptop-mobile.svg");
    padding: 186px;
    background-repeat: no-repeat;
    background-position: center; }

@media (min-width: 704px) {
  .free-open-simple-img {
    display: none; }
  .free-open-simple-container {
    background-image: url("/images/illustration-laptop-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -10.42rem; }
  .free-wrapper {
    max-width: 24rem;
    margin-left: auto;
    text-align: left; }
    .free-wrapper .paragraph-text {
      margin-left: 0; } }

@media (max-width: 968px) {
  .free-open-simple-container {
    background-position: -23.42rem; } }

@media (min-width: 1000px) {
  .free-wrapper {
    padding-right: 70px; } }

@media (min-width: 1156px) {
  .free-wrapper {
    max-width: 35rem; }
    .free-wrapper .paragraph-text {
      max-width: 100%; } }

@media (min-width: 1440px) {
  .free-wrapper {
    max-width: 38rem; } }

footer {
  background-color: #000000;
  color: #fff;
  border-top-right-radius: 94px; }
  footer .footer-logo {
    padding-top: 3rem;
    padding-bottom: 2.8rem; }
  footer .footer-links-container .footer-links-wrapper .footer-list {
    padding-left: 0; }
    footer .footer-links-container .footer-links-wrapper .footer-list .product-container, footer .footer-links-container .footer-links-wrapper .footer-list .company-container, footer .footer-links-container .footer-links-wrapper .footer-list .connect-container {
      padding-bottom: 2.4rem; }
      footer .footer-links-container .footer-links-wrapper .footer-list .product-container .product-list, footer .footer-links-container .footer-links-wrapper .footer-list .product-container .company-list, footer .footer-links-container .footer-links-wrapper .footer-list .product-container .connect-list, footer .footer-links-container .footer-links-wrapper .footer-list .company-container .product-list, footer .footer-links-container .footer-links-wrapper .footer-list .company-container .company-list, footer .footer-links-container .footer-links-wrapper .footer-list .company-container .connect-list, footer .footer-links-container .footer-links-wrapper .footer-list .connect-container .product-list, footer .footer-links-container .footer-links-wrapper .footer-list .connect-container .company-list, footer .footer-links-container .footer-links-wrapper .footer-list .connect-container .connect-list {
        list-style: none;
        padding-left: 0;
        color: gray;
        font-size: 1.245rem; }
        footer .footer-links-container .footer-links-wrapper .footer-list .product-container .product-list .product, footer .footer-links-container .footer-links-wrapper .footer-list .product-container .product-list .company, footer .footer-links-container .footer-links-wrapper .footer-list .product-container .product-list .connect, footer .footer-links-container .footer-links-wrapper .footer-list .product-container .company-list .product, footer .footer-links-container .footer-links-wrapper .footer-list .product-container .company-list .company, footer .footer-links-container .footer-links-wrapper .footer-list .product-container .company-list .connect, footer .footer-links-container .footer-links-wrapper .footer-list .product-container .connect-list .product, footer .footer-links-container .footer-links-wrapper .footer-list .product-container .connect-list .company, footer .footer-links-container .footer-links-wrapper .footer-list .product-container .connect-list .connect, footer .footer-links-container .footer-links-wrapper .footer-list .company-container .product-list .product, footer .footer-links-container .footer-links-wrapper .footer-list .company-container .product-list .company, footer .footer-links-container .footer-links-wrapper .footer-list .company-container .product-list .connect, footer .footer-links-container .footer-links-wrapper .footer-list .company-container .company-list .product, footer .footer-links-container .footer-links-wrapper .footer-list .company-container .company-list .company, footer .footer-links-container .footer-links-wrapper .footer-list .company-container .company-list .connect, footer .footer-links-container .footer-links-wrapper .footer-list .company-container .connect-list .product, footer .footer-links-container .footer-links-wrapper .footer-list .company-container .connect-list .company, footer .footer-links-container .footer-links-wrapper .footer-list .company-container .connect-list .connect, footer .footer-links-container .footer-links-wrapper .footer-list .connect-container .product-list .product, footer .footer-links-container .footer-links-wrapper .footer-list .connect-container .product-list .company, footer .footer-links-container .footer-links-wrapper .footer-list .connect-container .product-list .connect, footer .footer-links-container .footer-links-wrapper .footer-list .connect-container .company-list .product, footer .footer-links-container .footer-links-wrapper .footer-list .connect-container .company-list .company, footer .footer-links-container .footer-links-wrapper .footer-list .connect-container .company-list .connect, footer .footer-links-container .footer-links-wrapper .footer-list .connect-container .connect-list .product, footer .footer-links-container .footer-links-wrapper .footer-list .connect-container .connect-list .company, footer .footer-links-container .footer-links-wrapper .footer-list .connect-container .connect-list .connect {
          font-weight: 500;
          color: #fff;
          padding-bottom: 1.3rem; }

@media (min-width: 704px) {
  .footer-list {
    display: flex;
    justify-content: space-evenly; }
    .footer-list .product-container, .footer-list .company-container, .footer-list .connect-container {
      padding-top: 3rem; } }
